name: Run Selenium + Cucumber + Allure Tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Google Chrome
        run: |
          wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
          sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list'
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Set environment variables from secrets
        run: |
          echo "SPOTIFY_EMAIL=${{ secrets.SPOTIFY_EMAIL }}" >> $GITHUB_ENV
          echo "SPOTIFY_PASSWORD=${{ secrets.SPOTIFY_PASSWORD }}" >> $GITHUB_ENV
          echo "SPOTIFY_MYEMAIL=${{ secrets.SPOTIFY_MYEMAIL }}" >> $GITHUB_ENV
          echo "SPOTIFY_MYPASSWORD=${{ secrets.SPOTIFY_MYPASSWORD }}" >> $GITHUB_ENV

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run tests
        run: ./gradlew clean test --stacktrace

      - name: Upload Allure Results
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: build/allure-results

      - name: Generate and Publish Allure Report
        uses: simple-elf/allure-report-action@v1
        with:
          allure_results: allure-results
