name: Run Tests and Generate Allure Report

on:
  push:
  pull_request:

jobs:

  test:
    runs-on: ubuntu-latest

    steps:

      # -----------------------------
      # CHECKOUT
      # -----------------------------
      - name: Checkout repository
        uses: actions/checkout@v4

      # -----------------------------
      # JAVA
      # -----------------------------
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant execute permissions
        run: chmod +x ./gradlew

      # -----------------------------
      # INSTALAR GOOGLE CHROME
      # -----------------------------
      - name: Install Google Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y wget gnupg unzip
          wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
          echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" \
            | sudo tee /etc/apt/sources.list.d/google-chrome.list
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable
          google-chrome --version

      # -----------------------------
      # INSTALAR CHROMEDRIVER COMPATIBLE
      # -----------------------------
      - name: Install Google Chrome
        run: |
          sudo apt-get update -y
          sudo apt-get install -y google-chrome-stable

          CHROME_VERSION=$(google-chrome --version | awk '{print $3}')
          echo "Installed Chrome version: $CHROME_VERSION"

          echo "CHROME_BINARY=/usr/bin/google-chrome" >> $GITHUB_ENV
      

      # -----------------------------
      # EJECUTAR TESTS
      # -----------------------------
      - name: Run tests
        run: ./gradlew clean test

      # -----------------------------
      # INSTALAR ALLURE
      # -----------------------------
      - name: Install Allure CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y allure
          allure --version

      # -----------------------------
      # GENERAR ALLURE REPORT
      # -----------------------------
      - name: Generate Allure Report
        run: allure generate build/allure-results -o allure-report --clean

      # -----------------------------
      # SUBIR ARTIFACTO (v4)
      # -----------------------------
      - name: Upload Allure Report artifact
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report


  deploy:
    needs: test
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Download Allure Artifact
        uses: actions/download-artifact@v4
        with:
          name: allure-report
          path: allure-report

      - name: Deploy Allure Report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: allure-report
