name: Run Selenium + Cucumber + Allure Tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      RUN_ENV: "CI"
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: stable

      - name: Set environment variables from secrets
        run: |
          echo "SPOTIFY_EMAIL=${{ secrets.SPOTIFY_EMAIL }}" >> $GITHUB_ENV
          echo "SPOTIFY_PASSWORD=${{ secrets.SPOTIFY_PASSWORD }}" >> $GITHUB_ENV
          echo "SPOTIFY_MYEMAIL=${{ secrets.SPOTIFY_MYEMAIL }}" >> $GITHUB_ENV
          echo "SPOTIFY_MYPASSWORD=${{ secrets.SPOTIFY_MYPASSWORD }}" >> $GITHUB_ENV

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run tests
        run: ./gradlew clean test --stacktrace --no-daemon
        env:
          RUN_ENV: "CI"

      - name: Install Allure CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y allure

      - name: Generate Allure Report
        run: allure generate build/allure-results --clean -o allure-report

      - name: Upload Allure Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: allure-report
          path: allure-report

      - name: Upload Test Reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-reports
          path: |
            build/reports/tests/test
            build/reports/cucumber